* {
    font-family: "Titillium Web";
    /* box-sizing: border-box; */
}

.bg-nav,
.bg-footer {
    background-color: #000;
}

.hero--section {
    background: url(../images/career-header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 225px;
}

.nav-link {
    font-size: 20px;
}

.nav-item .nav-link:hover {
    color: #f1c706 !important;
}

.navbar-toggler-icon {
    background-image: url(../images/menu-icon.png);
}

h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color: #ffffff;
}

h3 {
    font-weight: 600;
    font-size: 48px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.p-16 {
    line-height: 150%;
    color: #4f5a68;
}

.p-14 {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #4f5a68;
    margin-top: 20px;
}

.fw-semibold {
    font-weight: 600;
}

h3 span,
h2 span {
    display: inline-block;
    width: 36px;
    height: 2px;
    vertical-align: middle;
    margin-left: 18px;
    background-color: #f1c706;
}

.py {
    padding-top: 60px;
    padding-bottom: 60px;
}

.btn-warning {
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s;
    padding: 16px 30px;
}

.btn:hover {
    background-color: transparent;
    color: #000000 !important;
    border-color: #000;
}

.half-bg {
    background-image: url(../images/contact-sec-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 50% 100%;
    background-color:  #E5E5E5;
}
img {
    max-width: 100%;
}
#form-id {
    background-color: #f4f4f4;
    border: none;
    color: rgb(0, 0, 0);
    padding-left: 10px;
}

.form-label {
    text-align: left !important;
}

input::placeholder,
textarea::placeholder {
    color: rgb(0, 0, 0) !important;
}

.yellow {
    color: #f1c706;
}

footer .p-14 {
    font-size: 14px;
    color: white;
    margin-top: 0;
}

footer .p-16 {
    font-size: 16px;
    margin-top: 0;
}

.input-group .form-control,
.input-group .input-group-text {
    background-color: #2f2f2f !important;
    border: none;
    color: #ffffff;
}

.input-group-text {
    padding-right: 5px;
    padding-left: 28px;
}

.form-control {
    padding: 10px 0px 12px 5px;
}

.form-control:focus {
    box-shadow: none;
}

.input-group .btn {
    padding: 7px 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: #f1c706;
    border: 1px solid #f1c706;
}
footer input::placeholder{
    color: #E7E7E7 !important;
}
footer .btn:hover {
    background-color: #2f2f2f;
}

footer a:hover {
    color: #f1c706 !important;
    transition: all 0.2s;
}

footer li {
    list-style: none;
}

.btn:hover {
    background-color: transparent;
    color: #f1c706;
}

@media (max-width: 575.96px) {
    .py {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .navbar-brand img {
        width: 200px;
    }

    h3 span,
    h2 span {
        display: none;
    }

    .hero--section {
        padding-top: 120px;
    }
    .half-bg {
        background-image: none;
        background-size: 100% 55% !important;
    }
}

@media (max-width: 992px) {
    .half-bg {
        background-size: 100% 44%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .nav-link {
        font-size: 16px;
    }
}
