* {
    font-family: 'Titillium Web';
    /* box-sizing: border-box; */
}


.bg-nav,
.bg-footer {
    background-color: #000;
}

.hero--section {
    background: url(../images/career-header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 225px;
}
.main-nav_bar{
padding:13px 0;
z-index:99;
}
.nav_bar li a{
padding:10px 20px;
}
.nav-link {
    font-size: 20px;
}
.navbar-toggler{
border-color:none;
}
.navbar-toggler:focus{
box-shadow:none;
}
.nav-item .nav-link:hover {
    color: #F1C706 !important;
}
.nav-link.active{
    color: #F1C706 !important;
    font-weight: 600;
}
.navbar-toggler-icon {
    background-image: url(../images/menu-icon.png);
}


h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color: #FFFFFF;
}

h3 {
    font-weight: 300;
    font-size: 36px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.p-16 {
    line-height: 150%;
    color: #4F5A68;
    margin-top: 20px;
}

.p-14 {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #4F5A68;
    margin-top: 20px;
}

.fw-semibold {
    font-weight: 600;
}

h3 span,
h2 span {
    display: inline-block;
    width: 36px;
    height: 2px;
    vertical-align: middle;
    margin-left: 18px;
    background-color: #F1C706;
}

.py {
    padding-top: 60px;
    padding-bottom: 60px;
}

.border-bottom {
    border-color: #E8E8E8 !important;
}

.btn-warning {
    font-weight: 600;
    font-size: 14px;
    transition: all .2s;
    padding: 16px 50px;
}
.apply_btn:hover,.ft-btn:hover{
     background-image: linear-gradient(45deg, #c6a60f 50%, #F0C808 50%) !important;
    transition: all.5s ease-in-out!important;
    background-color: #F0C808;
    background-size: 250% 100%;
    border: 1px solid transparent;
    color:black !important;
    background-position: right bottom;
}
.btn-outline-secondary {
    padding: 16px 43% !important;
    transition: all .2s;
}
.btn-outline-secondary:hover{
    color: #000 !important;
    background-color: #F1C706 !important;
    transition: all .2s;
}
/* .btn:hover {
    background-color: transparent;
    color: #F1C706;
} */

.btn-warning img {
    padding-left: 10px;
}

.btn-warning:hover img {
    filter: invert(80%) sepia(58%) saturate(2263%) hue-rotate(351deg) brightness(102%) contrast(105%);
}

.dwn-btn .btn:hover {
    color: #000;
    /* border-color: #000; */
}

.dwn-btn .btn:hover img {
    filter: none;
}

.bg-dark .dwn-btn .btn:hover {
    color: #F1C706;
    border-color: yellow;
}

.bg-dark .dwn-btn .btn:hover img {
    filter: invert(80%) sepia(58%) saturate(2263%) hue-rotate(351deg) brightness(102%) contrast(105%);
}

img {
    max-width: 100%;
}

.yellow {
    color: #F1C706;
}

footer .p-14 {
    font-size: 14px;
    color: white;
    margin-top: 0;
}

footer .p-16 {
    font-size: 16px;
    margin-top: 0;
}

.input-group .form-control,
.input-group .input-group-text {
    background-color: #2F2F2F !important;
    border: none;
    color: #FFFFFF;
}

.input-group-text {
    padding-right: 5px;
    padding-left: 28px;
}

.form-control {
    padding: 10px 0px 12px 5px;
}

.form-control:focus {
    box-shadow: none;
}

.input-group .btn {
    padding: 7px 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: #F1C706;
    border: 1px solid #F1C706;
}

/* footer .btn:hover {
    background-color: #2F2F2F;
} */

footer a:hover {
    color: #F1C706 !important;
    transition: all .2s;
}

footer li {
    list-style: none;
}

/* .btn:hover {
    background-color: transparent;
    color: #F1C706;
} */

@media (max-width: 576px) {
    html {
        text-align: center;
    }

    .py {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .navbar-brand img {
        width: 200px;
    }

    h3 span,
    h2 span {
        display: none;
    }

    .hero--section {
        padding-top: 130px;
        padding-bottom: 50px;
    }

    .btn-outline-secondary {
        padding: 16px 50px !important;
    }
.chat-btn{

bottom:20px;
width:50px;
height:50px;
}
.nav-link, footer li a{
    font-size: 18px !important;
}
h1,h2,h3{
    font-size: 34px;
}
p{
    padding-top: 20px;
    font-size: 16px;
    text-align: 18px;
    text-align: justify;
}
}

@media (min-width: 992px) and (max-width: 1200px) {
    .nav-link {
        font-size: 16px;
    }
}